<!DOCTYPE html>
<html>
<head>
     <link rel="icon" href="https://denisnorets.github.io/website-policlinic/Policlinic/static/pages/ava.png">
     <link rel="stylesheet" type="text/css" href="https://denisnorets.github.io/website-policlinic/Policlinic/static/pages/Appointment_css.css">
<meta charset="utf-8">
<title> Appointment </title>

</head>

<body>
    <main>
        <div class="container">

            <div class ="header">
                <h2>Запись на прием</h2>
            </div>


            <form class="form" id = "form" method="POST">

                <div class="form-control">
                    <label>Имя<label class="red">*</label></label>
                    <input required type="text" placeholder="Впишите имя" id = "first_name" name="name"/>
                </div>

                <div class="form-control">
                    <label>Фамилия<label class="red">*</label></label>
                    <input required type="text" placeholder="Впишите фамилию" id = "last_name" name="surname"/>
                </div>

                <div class="form-control">
                    <label>Почта<label class="red">*</label></label>
                    <input required type="email" placeholder="example@gmail.com" id = "email" name="email"/>
                </div>

                <div class="form-control">
                    <label>Номер телефона<label class="red">*</label></label>
                    <input required type="datetime-local" id = "date" name="date"/>
                </div>

                <div class="form-control">
                    <select required id="doctors" name = "doctor_name">
                        <option value="">-- Не выбрано --</option>
                    </select>
                </div>

                <div class="form-control">
                    <label>Время записи<label class="red">*</label></label>
                    <input required type="datetime-local" id = "date" name="date"/>
                </div>

                <div class="form-control">
                    <span></span>
                </div>

                <button type="submit" class = "submitbutton" id = "submitbutton"> Записаться </button>

            </form>
            <div id = "buttons" >
                <button class = "redirectbutton" id="redirectbutton" onclick=" window.location = 'https://denisnorets.github.io/website-policlinic/Policlinic/pages/templates/Policlinic.html' "> На главную </button>
            </div>
        </div>
    </main>

    <div class="overlay js-overlay">
        <div class="popup js-popup">
            <div class="close-popup js-close">&times;</div>
            Благодарим вас за пользование нашими услугами. Мы свяжемся с вами в течении одного рабочего дня.
        </div>
    </div>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'pages/Appointment_js.js' %}"></script>-->
</body>
</html>
